.design {
  border-radius: 20px;
  display: grid;
  overflow: hidden;
}

.design img {
  width: 100%;
}

.content {
  background-color: #fdf3f0;
  padding: 1.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.content:hover {
  color: #fff;
  background-color: #e7816b;
}

.content h2 {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .design {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .design {
    grid-template-columns: none;
  }
}
