@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 75%;
  }
}
